@model AssetManagement.Models.multiTable

@{
    ViewBag.Title = "Edit";
}

<h2 align="center">Edit Asset Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.assetDetails.asset_id)

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.serial_number, "Serial Number", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.serial_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.serial_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.model, "Model", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.model, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.model, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.brand, "Brand", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.brand, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.brand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.imei, "IMEI/Product No", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.imei, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.imei, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.description, "Description", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.purchase_date, "Purchase Date", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.purchase_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.purchase_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.assetDetails.asset_type_id, "Asset Type", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.assetDetails.asset_type_id, ViewBag.assetType_List as SelectList, "Please select", new { @class = "form-control dropdown" })
                @Html.ValidationMessageFor(model => model.assetDetails.asset_type_id, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.assetDetails.cost_details.cost, "Cost", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.assetDetails.cost_details.cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assetDetails.cost_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div align="center">
                <input type="submit" value="Cancel" name="Cancel" class="btn btn-default" />
                <input type="submit" value="Update" name="Update" class="btn btn-default" />
                <input type="submit" value="Delete" name="Delete" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "viewAllAssets")
</div>
