@using AssetManagement.Models

@{
    assetManagementEntities entities = new assetManagementEntities();
}

<h2 align="center">All Assets</h2>
<div align="right">
    @Html.ActionLink("Add New Asset", "addNewAsset")
</div>

<table class="table" >
    <tr >
        <th>
            Type
        </th>
        <th>
            Brand
        </th>
        <th>
            Assigned To
        </th>
        <th>
            Cost
        </th>

        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in entities.asset_details)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.asset_type.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost_details.cost)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.asset_id }) |
                @Html.ActionLink("Assign", "assignAsset", new { id = item.asset_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.asset_id })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.asset_id }, new { onclick = "return confirm('Do you really want to delete?')" })*@
            </td>
        </tr>
    }

</table>
